<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello from a view!</title>
	<style>
	.important-true {
		color: red;
	}
	.done-true {
		text-decoration: line-through;
	}
	</style>
</head>
	<body>
		<h1>Hi There!</h1>
		<p>This is being rendered from a view</p>

		<ol>
			<!-- note there is not a '=' because we don't want to write to the screen-->
			<% todos.each_with_index do |todo, i| %>
				<!-- note there IS a '=' --> 
				<li class="important-<%= todo.important %> done-<%= todo.done %>">
					<%= todo %>
					<a href="/delete?todo=<%= i %>">delete</a>
					<a href="/done?todo=<%= i %>">done</a>
					<a href="/important?todo=<%= i %>">IMPORTANT</a>
				</li>
			<% end %>
		</ol>

		<form action="/add" method="POST">
			<input type="text" name="todo" placeholder="Add a Todo" />
			<input type="submit" value="Add"/>
		</form>
	</body>
</html>
